body {
    background-image: url("https://www.eltiempo.com/files/image_640_428/uploads/2020/08/11/5f333e2373946.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.soporteSemaforo {
    margin-top: 342px;
    margin-left: 946px;
    width: 10px;
    height: 30px;
}

.semaforo {
    margin-left: 60%;
    width: 60px;
    height: 120px;
    box-shadow: 5px 5px 10px black;
}

.luces {
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.luzEncendida {
    box-shadow: 0 0 20px white
}